.header{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  z-index: 99;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dedede;
  &__txt{
    position: absolute;
    right: 120px;
    top: 10px;
    font-size: 14px;
    a{
      color: #222;
    }
  }
  &__btn{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 70px;
    height: 24px;
    color: #fff;
    background-color: #222;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    &:hover{
      background-color: #2185d0;
    }
  }
}

.home{
  position: relative;
  min-height: 100vh;
  &__left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: url(../images/politeh.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    i{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
    }
  }
  &__right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #f3f3f3;
  }
  &__content{
    padding: 0 15px;
    text-align: center;
    h1{
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 15px;
    }
    a{
      text-decoration: none;
      max-width: 175px;
      display: inline-block;
      margin: 0 15px;
      & + &{
        margin-left: 30px;
      }
    }
  }
}



.InlineError{
  display: block;
  color: #ae5856;
  font-size: 14px;
}

