.login-page{
  display: table;
  width: 100%;
  min-height: 100vh;
  &__cell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  &__content{
    max-width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 3px;
  }
  &__block{
    padding: 60px 30px;
  }
  &__img{
    max-width: 175px;
    margin: auto;
    display: block;
  }
  &__title{
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin: 10px 15px;
  }
}



.page{
  position: relative;
  min-height: 100vh;
  &__sidebar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #f3f3f3;
    border-left: 1px solid #dedede;
  }
  &__content{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 300px);
    padding: 100px 60px;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__subtitle{
    display: block;
    font-size: 16px;
    font-weight: bold;
    &.--modifier{
      margin-bottom: 15px;
    }
  }
}



.group{
  margin: 50px 0;
  &__title{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__list{
    list-style-type: none;
  }
  &__list-head{
    position: relative;
    padding: 0 45px 0 15px;
    line-height: 40px;
    margin-bottom: 5px;
    div{
      display: inline-block;
      font-weight: bold;
    }
    div:nth-child(1){
      width: 40%;
    }
    div:nth-child(2){
      width: 60%;
    }
  }
  &__list-item{
    position: relative;
    padding: 0 45px 0 15px;
    height: 40px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    div{
      display: inline-block;
    }
    div:nth-child(1){
      width: 40%;
    }
    div:nth-child(2){
      width: 60%;
    }
  }
  &__list-remove{
    position: absolute;
    width: 70px;
    height: 24px;
    top: 7px;
    right: 7px;
    color: #fff;
    background-color: #e8524f;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
  }
}



.student{
  margin: 50px 0;
  &__title{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__list{
    list-style-type: none;
  }
  &__list-head{
    position: relative;
    padding: 0 45px 0 15px;
    line-height: 40px;
    margin-bottom: 5px;
    div{
      span{
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
  &__list-item{
    position: relative;
    padding: 0 45px 0 15px;
    height: 40px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    div{
      span{
        font-size: 13px;
      }
    }
  }
  &__list-remove{
    position: absolute;
    width: 70px;
    height: 24px;
    top: 7px;
    right: 7px;
    color: #fff;
    background-color: #e8524f;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
  }
}



.sidebar{
  padding: 100px 60px;
  &__list{}
  &__item{
    display: block;
    margin-bottom: 15px;
    a{
      text-decoration: none;
      display: block;
      color: #000;
      font-weight: bold;
      transition: all 0.3s ease;
      &:hover{
        color: #1678c2;
      }
    }
  }
}