@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000; }

.display-table {
  display: table;
  height: 100%;
  width: 100%; }
  .display-table__cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }

h1, h2 {
  font-weight: bold; }

h1 {
  font-size: 32px;
  line-height: 40px; }

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.m-row {
  margin: 0 -15px; }

.column {
  padding: 0 15px;
  position: relative; }

.columns {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0; }

.align-self-middle {
  -webkit-align-self: center;
  align-self: center; }

.align-self-end {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-spaced {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.align-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col-xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25.0%;
  -ms-flex: 0 0 25.0%;
  flex: 0 0 25.0%;
  max-width: 25.0%; }

.col-xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666%;
  -ms-flex: 0 0 41.66666%;
  flex: 0 0 41.66666%;
  max-width: 41.66666%; }

.col-xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50.0%;
  -ms-flex: 0 0 50.0%;
  flex: 0 0 50.0%;
  max-width: 50.0%; }

.col-xs-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666%;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%; }

.col-xs-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75.0%;
  -ms-flex: 0 0 75.0%;
  flex: 0 0 75.0%;
  max-width: 75.0%; }

.col-xs-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666%;
  -ms-flex: 0 0 91.66666%;
  flex: 0 0 91.66666%;
  max-width: 91.66666%; }

.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100.0%;
  -ms-flex: 0 0 100.0%;
  flex: 0 0 100.0%;
  max-width: 100.0%; }

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%; } }

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%; }
  .medium-offset-3 {
    margin-left: 25.0%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%; }
  .medium-offset-5 {
    margin-left: 41.66666%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%; }
  .medium-offset-6 {
    margin-left: 50.0%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%; }
  .medium-offset-8 {
    margin-left: 66.66666%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%; }
  .medium-offset-9 {
    margin-left: 75.0%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%; }
  .medium-offset-11 {
    margin-left: 91.66666%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%; }
  .medium-offset-12 {
    margin-left: 100.0%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%; }
  .large-offset-3 {
    margin-left: 25.0%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%; }
  .large-offset-5 {
    margin-left: 41.66666%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%; }
  .large-offset-6 {
    margin-left: 50.0%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%; }
  .large-offset-8 {
    margin-left: 66.66666%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%; }
  .large-offset-9 {
    margin-left: 75.0%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%; }
  .large-offset-11 {
    margin-left: 91.66666%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%; }
  .large-offset-12 {
    margin-left: 100.0%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%; }
  .xl-offset-3 {
    margin-left: 25.0%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%; }
  .xl-offset-5 {
    margin-left: 41.66666%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%; }
  .xl-offset-6 {
    margin-left: 50.0%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%; }
  .xl-offset-8 {
    margin-left: 66.66666%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%; }
  .xl-offset-9 {
    margin-left: 75.0%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%; }
  .xl-offset-11 {
    margin-left: 91.66666%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%; }
  .xl-offset-12 {
    margin-left: 100.0%; } }

.btn {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  outline: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease; }
  .btn.--blue {
    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    background-color: #2185d0;
    color: #fff; }
    .btn.--blue:hover {
      background-color: #1678c2; }

.form__group {
  position: relative;
  margin-bottom: 15px; }

.form__label {
  display: block;
  font-size: 14px;
  line-height: 24px; }

.form__input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: 1px solid #dedede;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  color: #000;
  font-family: Lato, sans-serif; }

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  z-index: 99;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dedede; }

.home {
  position: relative;
  min-height: 100vh; }
  .home__left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: url(../images/politeh.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
    .home__left i {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); }
  .home__right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #f3f3f3; }
  .home__content {
    padding: 0 15px;
    text-align: center; }
    .home__content h1 {
      margin-bottom: 30px; }
    .home__content p {
      margin-bottom: 15px; }
    .home__content button {
      max-width: 175px;
      display: inline-block;
      margin: 0 15px; }
      .home__content button + .home__content button {
        margin-left: 30px; }

.InlineError {
  display: block;
  color: #ae5856;
  font-size: 14px; }

.login-page {
  display: table;
  width: 100%;
  min-height: 100vh; }
  .login-page__cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; }
  .login-page__content {
    max-width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 3px; }
  .login-page__block {
    padding: 60px 30px; }
  .login-page__img {
    max-width: 175px;
    margin: auto;
    display: block; }
  .login-page__title {
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin: 10px 15px; }

.page {
  position: relative;
  min-height: 100vh; }
  .page__sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #f3f3f3;
    border-left: 1px solid #dedede; }
  .page__content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 300px);
    padding: 100px 60px; }
  .page__title {
    margin-bottom: 60px; }
  .page__subtitle {
    display: block;
    font-size: 16px;
    font-weight: bold; }
    .page__subtitle.--modifier {
      margin-bottom: 15px; }

.group {
  margin: 50px 0; }
  .group__title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .group__list {
    list-style-type: none; }
  .group__list-head {
    position: relative;
    padding: 0 45px 0 15px;
    line-height: 40px;
    margin-bottom: 5px; }
    .group__list-head div {
      display: inline-block;
      font-weight: bold; }
    .group__list-head div:nth-child(1) {
      width: 40%; }
    .group__list-head div:nth-child(2) {
      width: 60%; }
  .group__list-item {
    position: relative;
    padding: 0 45px 0 15px;
    height: 40px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    margin-bottom: 5px; }
    .group__list-item div {
      display: inline-block; }
    .group__list-item div:nth-child(1) {
      width: 40%; }
    .group__list-item div:nth-child(2) {
      width: 60%; }
  .group__list-remove {
    position: absolute;
    width: 70px;
    height: 24px;
    top: 7px;
    right: 7px;
    color: #fff;
    background-color: #e8524f;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px; }

.student {
  margin: 50px 0; }
  .student__title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .student__list {
    list-style-type: none; }
  .student__list-head {
    position: relative;
    padding: 0 45px 0 15px;
    line-height: 40px;
    margin-bottom: 5px; }
    .student__list-head div span {
      font-size: 13px;
      font-weight: bold; }
  .student__list-item {
    position: relative;
    padding: 0 45px 0 15px;
    height: 40px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    margin-bottom: 5px; }
    .student__list-item div span {
      font-size: 13px; }
  .student__list-remove {
    position: absolute;
    width: 70px;
    height: 24px;
    top: 7px;
    right: 7px;
    color: #fff;
    background-color: #e8524f;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px; }

.sidebar {
  padding: 100px 60px; }
  .sidebar__item {
    display: block;
    margin-bottom: 15px; }
    .sidebar__item a {
      text-decoration: none;
      display: block;
      color: #000;
      font-weight: bold;
      transition: all 0.3s ease; }
      .sidebar__item a:hover {
        color: #1678c2; }
