@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000; }

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: auto; }

.btn {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  outline: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease; }
  .btn.--blue {
    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    background-color: #2185d0;
    color: #fff; }
    .btn.--blue:hover {
      background-color: #1678c2; }

.form__group {
  position: relative;
  margin-bottom: 15px; }

.form__label {
  display: block;
  font-size: 14px;
  line-height: 24px; }

.form__input {
  width: 100%;
  max-width: 300px;
  height: 35px;
  border: 1px solid #dedede;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  color: #000;
  font-family: Lato, sans-serif; }

.footer {
  border-top: 1px solid #f3f3f3;
  height: 60px;
  background-color: rgba(240, 242, 243, 0.5); }
  .footer__txt {
    display: block;
    line-height: 60px;
    text-align: center; }

.login-page {
  display: table;
  width: 100%;
  height: 100vh; }
  .login-page__cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; }
  .login-page__content {
    max-width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 3px; }
  .login-page__block {
    padding: 60px 30px; }
  .login-page__img {
    max-width: 175px;
    margin: auto;
    display: block; }
  .login-page__title {
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin: 10px 15px; }
