.login-page{
    display: table;
    width: 100%;
    height: calc(100vh - 100px);
}

.login-page__cell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.login-page__content{
    max-width: 450px;
    margin: auto;
}

.login-page__block{
    padding: 60px 30px!important;
}


.login-page__img{
    display: block;
}


/* footer */
.footer__txt{
    text-align: center;
}